@font-face {
	font-family: 'Open-Sans-700';
	src: url('OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans-800';
	src: url('OpenSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans-600';
	src: url('OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open-Sans-400';
	src: url('OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair-Display-700';
	src: url('PlayfairDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair-Display-400';
	src: url('PlayfairDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pathway Gothic One';
	src: url('PathwayGothicOne-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
