@media (max-width: 1239px) {

	:root {
		--42: 4rem;
	}
}

@media (max-width: 1199px) {

	:root {
		--42: 3.9rem;
	}

	/* 	
	=======================
	Header Section
	=======================
	*/
	header {
		padding: 2rem 0;
		overflow-x: hidden;
	}

	/*------------ 
	Main Menu 
	-------------*/
	.main-menu {
		position: relative;
		padding: 5rem 2rem 2rem;
		position: fixed;
		top: 0%;
		right: -100%;
		width: 60%;
		background: var(--FF);
		z-index: 999999;
		height: 100vh;
		overflow-y: scroll;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}

	.main-menu ul li {
		margin: 0 0 2rem;
		display: block;
	}

	.main-menu ul li a {
		padding: 0;
	}

	.main-menu ul .mega-menu-link a .plus-icon {
		display: inline-block;
	}

	.menu-close-btn,
	.menu-open-btn {
		display: block;
	}

	/*-------------
	Mega Menu Here
	---------------*/
	.mega-menu-wrapper-1 > * {
		padding: 0;
		margin: 0;
	}

	.mega-menu {
		padding-top: 2rem;
		padding-left: 5rem;
		border: 0;
		position: static;
		opacity: 1;
		visibility: visible;
	}

	.toggle-container {
		-webkit-transition: height 0.35s ease-in-out;
		-o-transition: height 0.35s ease-in-out;
		transition: height 0.35s ease-in-out;
		overflow: hidden;
	}

	.toggle-container:not(.active) {
		display: none;
	}

	.mega-menu-img-col {
		display: none;
	}

	/* 
	==========================
	Shop Section
	==========================
	*/
	.shop-img-3 img {
		height: 45.8rem;
	}

	/* 
	=====================================
	Best Selling Products Section
	=====================================
	*/
	.products-text .products-name {
		font-size: 2.1rem;
	}

	/* 
	=======================
	Footer Section
	=======================
	*/
	.f-link-1 {
		padding-left: 2rem;
	}
}

@media (max-width: 991px) {

	:root {
		--30: 2rem;
		--24: 1.7rem;
	}

	/* 	
	=======================
	Header Section
	=======================
	*/
	.main-menu {
		width: 75%;
	}

	.s-c-p form {
		width: 23rem;
	}

	/* 
	=======================
	Hero Section
	=======================
	*/
	.hero-img img,
	.hero-text-box {
		border-radius: 1rem 1rem 1rem 1rem;
	}

	.hero-img img {
		height: auto;
	}

	.hero-text-box {
		margin-top: -.5rem;
		height: 43rem;
	}

	.flower-br {
		max-width: 15rem;
		bottom: 1rem;
	}

	/* 
	=======================
	Shop Section
	=======================
	*/
	.shop-gellary-1 > * {
		margin-bottom: 0;
	}

	.overlay-text-left h2 span:last-child {
		font-size: 3rem;
	}

	.overlay-text-2-top {
		font-size: 3.8rem;
	}

	/* 
	=====================================
	Best Selling Products Section
	=====================================
	*/
	.products-text .products-name {
		font-size: 1.6rem;
	}

	.products-text p {
		font-size: 1.3rem;
	}

	.products-cart a {
		font-size: 1.5rem;
	}

	.flower-tl {
		top: 7rem;
	}

	.swiper-prev-1 {
		top: 48%;
	}

	.swiper-prev-2 {
		top: 21.5%;
	}

	/* 
	=======================
	Testimonial Section
	=======================
	*/
	.testimonial .client-qoute {
		width: 6rem;
		height: 6rem;
		right: 4rem;
		bottom: -2.5rem;
	}

	.testimonial .client-qoute img {
		width: 3rem;
	}

	/* 
	=======================
	Footer Section
	=======================
	*/
	.footer-subscribe form {
		margin: 2rem 0 3rem;
	}

	.f-content-link {
		padding-left: 2rem;
	}
}

@media (max-width: 767px) {

	:root {
		--30: 3rem;
		--24: 2.4rem;
	}

	/* 	
	=======================
	Header Section
	=======================
	*/
	.main-menu {
		width: 60%;
	}

	.h-search-form {
		display: none;
	}

	.expand-searc-open {
		display: block;
	}

	/* 
	=======================
	Shop Section
	=======================
	*/
	.shop-gellary-1 .shop-img-2 {
		margin-top: 3rem;
	}

	.overlay-text-left h2 span:last-child {
		font-size: 4rem;
	}

	.overlay-text-2-top {
		font-size: 4.7rem;
	}

	/* 
	=====================================
	Best Selling Products Section
	=====================================
	*/
	.products-text .products-name {
		font-size: 1.8rem;
	}

	.products-text p {
		font-size: 1.5rem;
	}

	.products-cart a {
		font-size: 1.6rem;
	}

	.flower-tl {
		top: 15rem;
	}

	.swiper-prev-1 {
		top: 52%;
	}

	.swiper-prev-2 {
		top: 24.5%;
	}

	/* 
	==========================
	Testimonial Section
	==========================
	*/
	.section-title-md {
		display: block;
	}

	.section-title {
		display: none;
	}

	.section-title-md p {
		margin-top: 0rem;
	}

	/* 
	=======================
	Footer Section
	=======================
	*/
	.f-content-link {
		padding-left: 0rem;
	}

	.f-link {
		padding-left: 5rem;
	}
}

@media (max-width: 575px) {

	:root {
		--42: 3.5rem;
		--18: 1.6rem;
		--20: 1.8rem;
	}

	/* 
	=======================
	Header Section
	=======================
	*/
	.s-c-p ul li:not(:first-child) {
		margin-left: 1.5rem;
	}

	/* 
	=====================================
	Best Selling Products Section
	=====================================
	*/
	.products-text .products-name {
		font-size: 2rem;
	}

	.products-text p {
		font-size: 1.6rem;
	}

	.products-cart a {
		font-size: 1.7rem;
	}

	.flower-tl {
		display: none;
	}

	.swiper-prev {
		margin-top: 2rem;
		position: static;
	}

	/* 
	=======================
	Testimonial Section
	=======================
	*/
	.testimonial .client-qoute {
		width: 5rem;
		height: 5rem;
		bottom: -2.2rem;
	}

	/* 
	=======================
	Footer Section
	=======================
	*/
	.f-link {
		padding-left: 0rem;
	}
}

@media (max-width: 550px) {

	/* 	
	=======================
	Header Section
	=======================
	*/
	.logo-area img {
		max-width: 10rem;
	}

	.h-profile {
		display: none;
	}

	/* 
	===============================
	Hero Section
	===============================
	*/
	.hero-title .hero-btn {
		min-width: 14.5rem;
		height: 4.8rem;
		line-height: 4.8rem;
	}

	/* 
	===============================
	Footer Section
	===============================
	*/
	footer {
		padding-bottom: 1.5rem;
	}
}

@media (max-width: 530px) {

	/* 	
	=======================
	Header Section
	=======================
	*/
	.main-menu {
		width: 70%;
	}
}

@media (max-width: 490px) {

	:root {
		--30: 2rem;
		--24: 1.7rem;
	}

	/* 	
	=======================
	Shop Section
	=======================
	*/
	.overlay-text-left h2 span:last-child {
		font-size: 3rem;
	}

	.overlay-text-2-top {
		font-size: 3.7rem;
	}
}

@media (max-width: 455px) {

	:root {
		--42: 3rem;
	}

	/* 	
	=======================
	Header Section
	=======================
	*/
	.main-menu {
		width: 80%;
	}

	.hero-title {
		padding: 0rem 2rem;
	}

	.hero-text-box .flower-br {
		display: none;
	}
}

@media (max-width: 397px) {

	/* 	
	=======================
	Header Section
	=======================
	*/
	.main-menu {
		width: 100%;
	}
}

@media (max-width: 360px) {

	:root {
		--30: 1.8rem;
		--24: 1.5rem;
	}

	/* 	
	=======================
	Shop Section
	=======================
	*/
	.overlay-text-left h2 span:last-child {
		font-size: 2.7rem;
	}

	.overlay-text-2-top {
		font-size: 3.3rem;
	}
}

@media (max-width: 352px) {

	/* 
	=====================
	Hero Section
	=====================
	*/
	.hero-title h1 {
		font-size: 2.6rem;
	}
}
